<h1>Mastermind</h1>
<h3>Rules of the game:</h3>
<div id="rules-container">
  <p>
    Your computer will pick a random set of 4 numbers from 0 - 7.  You will have to guess what those 4 numbers are and guess them
    in the correct order that your computer has them in.  Each time you guess, you will be given feedback on each of your 4
    numbers that you guessed: CNP - stands for correct number and correct position, CN - stands for correct number only, and I 
    - stands for incorrect, meaning it's not a number in the set.  NOTE:  You will not know which piece of feedback corresponds 
    to which number in your guess - that's part of the challenge!  You will have 10 tries to guess the set.  Good luck!
  </p>
</div>