<div class="mb-4">
  <form class="row row-cols-lg-auto g-3 align-items-center">
    <div *ngFor="let i of [1, 2, 3, 4]" class="col-2">
      <label class="visually-hidden" for="num{{i}}">Number {{i}}</label>
      <select class="form-select" id="num{{i}}">
        <option selected>Select...</option>
        <option *ngFor="let num of chooseableNums" [value]="num">{{num}}</option>
      </select>
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-secondary">Submit</button>
    </div>
  </form>
  <div>
    Feedback: - - - -
  </div>
</div>