<div class="mb-4">
  <form class="row row-cols-lg-auto g-3 align-items-center" [formGroup]="codeForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let digit of [1, 2, 3, 4]" class="col-2">
      <label class="visually-hidden" for="num{{digit}}">Number {{digit}}</label>
      <select 
        class="form-select" 
        id="num{{digit}}" 
        formControlName="num{{digit}}"
      >
        <option selected value="">Select...</option>
        <option *ngFor="let num of chooseableNums" [value]="num">{{num}}</option>
      </select>
    </div>
    <div class="col-2">
      <button 
        type="submit" 
        class="btn btn-secondary" 
        [disabled]="!codeForm.valid"
      >
        Submit
      </button>
    </div>
  </form>
  <div>
    Feedback: <span *ngFor="let fb of feedback">{{fb}} </span>
  </div>
</div>